<div class="puzzle-options-bar" *ngIf="!puzzleInProgress">
  <div class="puzzle-card" *ngFor="let puzzle of puzzles" (click)="loadPuzzleGame(puzzle, $event)">

    <div class="inner-card">
      {{ puzzle.fullSolution }}
    </div>
    
  </div>
</div>

<div class="game-wrapper" *ngIf="puzzleInProgress">
  <app-answer-input></app-answer-input>
  
  <div class="game-cards">
    <div class="card" *ngFor="let word of puzzleInProgress.puzzlePieces">
      <div class="phrase-container" [ngClass]="{'phrase-container': true, 'inactive': activeCard !== word}">{{ word }}</div>
    </div>
  </div>
</div>
